**/*.o
**/*.swp
**/*.a
**/*.orig
Harmony.aux
Harmony.pro.user.*
Makefile*
harmony-boardgame.pro.user
object_script.Harmony.*
Boost/*
boost/*
Harmony.dvi
Harmony.log
Harmony.pdf
Harmony.toc
harmony.png
latex.lnk
